<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Signal Buddy - 계정 관리</title>
  <link href="/css/common/header.css" rel="stylesheet">
  <link href="/css/common/common.css" rel="stylesheet">
  <link href="/css/member/login.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="~{fragments/header::headerFragment}"></th:block>
<div th:if="${errorMessage}" id="error-message" th:text="${errorMessage}"
     style="display: none;"></div>
<div class="login-container">
  <form action="/login" method="post" enctype="multipart/form-data">
    <h2>Signal Buddy</h2>

    <div class="form-group">
      <label for="email">이메일</label>
      <input type="email" id="email" name="username" placeholder="이메일을 입력해주세요">
    </div>

    <div class="form-group">
      <label for="password"> 비밀번호</label>
      <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요">
    </div>

    <button class="sign-in-btn">Log In</button>
  </form>
  <div class="links">
    <a href="/members/signup">회원가입</a>
  </div>
  <div class="divider">
    <div class="line"></div>
    <span>또는</span>
    <div class="line"></div>
  </div>

  <div class="oauth-buttons">
    <button class="oauth-button google"
            th:onclick="|window.location='@{/oauth2/authorization/google}'|">
      <img src="/images/socialLogo/google.png"/>
      Google로 시작하기
    </button>
    <button class="oauth-button naver"
            th:onclick="|window.location='@{/oauth2/authorization/naver}'|">
      <img src="/images/socialLogo/naver.png"/>
      NAVER로 시작하기
    </button>
    <button class="oauth-button kakaotalk"
            th:onclick="|window.location='@{/oauth2/authorization/kakao}'|">
      <img src="/images/socialLogo/kakaotalk.png"/>
      KAKAOTALK으로 시작하기
    </button>
  </div>
</div>

<script>
  window.onload = function () {
    const errorMessageElement = document.getElementById('error-message');
    if (errorMessageElement && errorMessageElement.textContent.trim() !== '') {
      alert(errorMessageElement.textContent);
    }
  }
</script>
</body>
</html>