<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>계정 복구</title>
  <link href="/css/common/header.css" rel="stylesheet">
  <link href="/css/common/common.css" rel="stylesheet">
  <link href="/css/member/restore.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="~{fragments/header::headerFragment}"></th:block>

<div class="container">
  <h1>계정 복구</h1>
  <p class="description">
    signal buddy는 <strong>6개월 이내</strong>의 탈퇴 이력이 있는 <br>사용자의 계정 복구를 지원하고 있습니다.
    <br>가입 시, 사용했던 이메일을 입력해주세요.
  </p>
  <form id="sendEmail">
    이메일 <input type="text" id="email"/>
    <button type="submit" id="send" >확인</button>
  </form>
  <p id="emailSendResult" style="font-size: 12px;"></p>
  <form id="verifyCode" style="display: none;">
    인증 코드 <input type="text" id="code" autocomplete="off"/>
    <button type="submit" id="verify">인증</button>
  </form>
  <p id="verifyCodeResult" style="font-size: 12px;"></p>
  <div class="restoreSuccess" style="display: none;">
    성공적으로 계정 복구를 완료했습니다.<br>
    <a href="/members/login" id = "auth-success-login">로그인하러 가기</a>
  </div>
</div>
</body>
<script>

  // 인증 코드 발송
  document.getElementById("sendEmail").addEventListener("submit", async function (event) {

    event.preventDefault();
    const email = document.getElementById('email').value;
    if (!email) {
      alert("이메일을 입력해주세요.");
      return;
    }

    const response = await fetch("/api/members/auth-code", {
      method: "post",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({email: email})
    });

    if (response.ok) {
      document.getElementById("email").readOnly = true;
      document.getElementById("emailSendResult").textContent = "인증코드가 발송되었습니다.";
      document.getElementById("send").style.display = "none";
      document.getElementById("verifyCode").style.display = "block";
    } else {
      const result = await response.json();
      document.getElementById("emailSendResult").textContent = `${result.message}`;
      document.getElementById("emailSendResult").style.color = "red";
    }
  });

  // 인증 코드 검증 및 계정 복구
  document.getElementById("verifyCode").addEventListener("submit", async function (event) {

    event.preventDefault();
    const email = document.getElementById('email').value;
    const code = document.getElementById('code').value;

    // 인증 코드 검증
    const verifyResponse = await fetch("/api/members/verify-code", {
      method: "post",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({email: email, code: code})
    });
    console.log(email, code)

    if (verifyResponse.ok) {
      document.getElementById("verifyCodeResult").textContent = "인증에 성공했습니다.";
      document.getElementById("verifyCodeResult").style.fontSize = "12px";
      document.getElementById("verifyCodeResult").style.color = "red";
      document.getElementById("verifyCode").readOnly = true;
      document.getElementById("verify").style.display = "none";
    } else {
      const verifyResult = await verifyResponse.json();
      document.getElementById("verifyCodeResult").textContent = `${verifyResult.message}`
      return;
    }

    // 계정 복구
    const restoreResponse = await fetch("/api/members/restore", {
      method: "PATCH",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({email: email})
    });

    if (restoreResponse.ok) {
      document.querySelector(".restoreSuccess").style.display = "block"
    } else {
      alert("계정 복구에 실패했습니다.");
      window.location.href = "/members/restore";
    }

  })

</script>
</html>