<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<body>
<aside class="w-[250px] bg-white shadow rounded-md p-5" th:fragment="sidebarFragment"><h2
    class="font-title text-neutral-950 mb-4">내 정보</h2>
  <ul class="space-y-4">
    <li class="flex items-center space-x-2 text-neutral-600 text-sm">
      <span class="material-symbols-outlined">person</span>
      <a th:href="@{/members}">계정 관리</a>
    </li>
    <li class="flex items-center space-x-2 text-neutral-600 text-sm">
      <span class="material-symbols-outlined">flag</span>
      <a th:href="@{/members/{id}/bookmarks(id=${user.memberId})}">자주가는 곳</a>
    </li>
    <li class="flex items-center space-x-2 text-neutral-600 text-sm">
      <span class="material-symbols-outlined">edit</span>
      <a th:href="@{/members/{id}/feedbacks(id=${user.memberId})}">작성한 글</a>
    </li>
  </ul>
</aside>
</body>
</html>