<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Signal Buddy - 나의 즐겨찾기</title>
  <th:block th:replace="~{fragments/header::headerStyles}"></th:block>
  <link href="/css/member/bookmarks.css" rel="stylesheet">
  <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=1bxEMLzGUg68a4EeRA5F14J5Vbgh6GWI3zLXabl9"></script>
</head>
<body onload="initMap()">
<!-- 헤더 파일 -->
<th:block th:replace="~{fragments/header::headerFragment}"></th:block>
<div class="bg-neutral-100 shadow rounded-lg mx-auto">
  <main class="flex px-6 py-10">
    <!--  마이페이지 사이드바  -->
    <aside th:replace="~{fragments/sidebar::sidebarFragment}"></aside>
    <!--  본문 시작  -->
    <section class="flex-1 bg-white shadow rounded-md ml-6 p-8">
      <h2 class="font-title text-neutral-950 text-xl mb-8">자주 가는 곳 - 수정</h2>
      <div class="p-6 space-y-4">
        <div class="bookmarks">
          <div
              class="flex items-center justify-between bg-neutral-100 p-4 rounded-md bookmark-box edit-box">
            <div class="flex items-center gap-2">
              <span class="material-symbols-outlined text-primary-700">flag</span>
              <label>
                <input class="bookmark-name" id="alias" th:value="${bookmark.name}"/>
              </label>
            </div>
            <button class="flex items-center text-neutral-500"
                    th:onclick="'deleteBtn(' + ${bookmark.bookmarkId} + ', ' + ${user.memberId} + ')'">
              <span class="material-symbols-outlined">delete</span>
            </button>
          </div>
          <div class="flex items-center justify-between bg-neutral-100 p-4 rounded-md bookmark-box">
            <div class="flex items-center gap-2">
              <button class="material-symbols-outlined text-primary-700" id="search">search</button>
              <label>
                <input class="bookmark-name search-input" id="searchInput" placeholder="검색"/>
                <span id="suggestions" class="suggestions-list"></span>
              </label>
            </div>
          </div>
        </div>
        <div>
          <div id="map"></div>
        </div>
        <div class="mt-6 flex justify-center space-x-4">
          <a class="px-6 py-2 rounded-md bg-neutral-950 text-neutral-50 cancel"
             th:href="@{/members/{memberId}/bookmarks(memberId=${user.memberId})}">취소</a>
          <button class="px-6 py-2 rounded-md bg-neutral-950 text-neutral-50" th:onclick="'updateBtn(' + ${bookmark.bookmarkId} + ', ' + ${user.memberId} + ')'">수정</button>
        </div>
      </div>
    </section>
  </main>
</div>
<script th:inline="javascript">
  const bookmark = /*[[${bookmark}]]*/ {}; // Thymeleaf 변수 삽입
</script>
<script src="/js/member/bookmark/update.js"></script>
</body>
</html>