<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Signal Buddy - 나의 즐겨찾기</title>
  <th:block th:replace="~{fragments/header::headerStyles}"></th:block>
  <link href="/css/member/bookmarks.css" rel="stylesheet">
</head>
<body>
<!-- 헤더 파일 -->
<th:block th:replace="~{fragments/header::headerFragment}"></th:block>
<div class="bg-neutral-100 shadow rounded-lg mx-auto">
  <main class="flex px-6 py-10">
    <!--  마이페이지 사이드바  -->
    <aside th:replace="~{fragments/sidebar::sidebarFragment}"></aside>
    <!--  본문 시작  -->
    <section class="flex-1 bg-white shadow rounded-md ml-6 p-8">
      <h2 class="font-title text-neutral-950 text-xl mb-8"
          th:text="${'자주가는 곳 (' + pagination.totalElements +'/20)'}">자주가는 곳 (1/20)</h2>
      <div class="p-6 space-y-4">
        <div class="bookmarks" th:each="bookmark : ${pagination}">
          <div class="flex items-center justify-between bg-neutral-100 p-4 rounded-md bookmark-box">
            <div class="flex items-center gap-2">
              <span class="material-symbols-outlined text-primary-700">flag</span>
              <div>
                <p class="bookmark-name" th:text="${bookmark.name}">하남 스타필드</p>
                <p class="text-sm text-neutral-500 bookmark-address" th:text="${bookmark.address}">
                  경기 하남시 미사대로 750 스타필드 하남
                </p>
              </div>
            </div>
            <a class="flex items-center text-neutral-500"
               th:href="@{/bookmarks/{id}/edit(id=${bookmark.bookmarkId})}">
              <span class="material-symbols-outlined">edit</span>
            </a>
          </div>
        </div>
        <a class="flex items-center justify-between bg-neutral-100 p-4 rounded-md bookmark-box add-box"
           href="/bookmarks/add"
           th:if="${pagination.last}">
          <div class="flex items-center gap-2">
            <span class="material-symbols-outlined text-primary-700 add">add_circle</span>
            <div>
              <p class="bookmark-add">등록</p>
            </div>
          </div>
        </a>

        <div class="border-t pt-4 text-center text-neutral-500">
          <!-- 페이지 번호 -->
          <span th:each="i : ${#numbers.sequence(1, pagination.totalPages)}"
                th:if="${pagination.totalPages > 0}">
              <a th:classappend="${pagination.number + 1 == i ? 'active' : ''}"
                 th:href="@{/members/{id}/bookmarks(page=${i - 1}, size=${pagination.size}, id=${user.memberId})}"
                 th:text="${i}"></a>
          </span>
        </div>
      </div>
    </section>

  </main>
</div>
</body>
</html>